.course-list-item {
    border: 1px solid rgb(255, 0, 217);
    margin-top: 20px;
}

.course-list-item * {
    margin: 10px 0;
    padding-left: 20px;
}

.course-nav-button {
    display: inline-block;
    color: brown;
}

.classified-links {
    width: 25%;
    display: inline-flex;
    justify-content: space-around;
}

.tag-list {
    list-style: none;
    display: flex;
}

.filter-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.filter-form p {
    display: inline-flex;
}