{% extends "base.html" %}
{% load static %}

{% block title %}
        Delete Comment
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'discussion_boards/css/comment/delete_comment.css' %}">
{% endblock css_files %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <h2>Are you sure you want to delete the comment: {{ object.comment }}?</h2>
        <input type="submit" value="Delete">
        <a href="{% url 'discussion_boards:view-comment' pk=object.id %}">Cancel</a>
    </form>
{% endblock content %}
