.comment {
    margin: 10px;
    border: 1px solid blue;
    padding: 10px;
}

.comment-info-line {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.comment-buttons {
    width: 20%;
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}